[submodule "stimuli"]
	path = stimuli
	url = git@github.com:courtois-neuromod/friends.stimuli.git
	datalad-id = bbbf34b9-31aa-4e35-b1ed-36525c6d7ce3
	datalad-url = git@github.com:courtois-neuromod/friends.stimuli.git
[submodule ".heudiconv"]
	path = .heudiconv
	url = ./.heudiconv
	datalad-id = 555b3baa-38fe-4a1e-95e9-f9b498360d1b
