[submodule "stimuli"]
	path = stimuli
	url = git@github.com:courtois-neuromod/friends.stimuli.git
	datalad-id = bbbf34b9-31aa-4e35-b1ed-36525c6d7ce3
	datalad-url = git@github.com:courtois-neuromod/friends.stimuli.git
[submodule ".heudiconv"]
	path = .heudiconv
	url = ./.heudiconv
	datalad-id = d82f5eb6-edf5-4ffc-8105-5ea4bc68f53a
