[submodule "stimuli"]
	path = stimuli
	url = git@github.com:courtois-neuromod/friends.stimuli.git
	datalad-id = bbbf34b9-31aa-4e35-b1ed-36525c6d7ce3
	datalad-url = git@github.com:courtois-neuromod/friends.stimuli.git
[submodule ".heudiconv"]
	path = .heudiconv
	url = ./.heudiconv
	datalad-id = 8205f1b9-22a7-4256-8e40-4a94d0cdfe06
